{% extends 'base_generic.html' %}
{% block content %}
    <h1>名字: {{ bloguser }}</h1>
    <h2>用户名:{{ bloguser.username }}</h2>
    <h2>Email:{{ bloguser.email }}</h2>
    <br>
    <h2>传记信息</h2>
    <br>
    <p>{{ bloguser.bio_info }}</p>
    <br>
    <h2>博客列表</h2>
    <div style="margin-left:20px;margin-top:20px">
        <ul>
            {% for blog in blog_list %}
                <li><a href="{% url 'blog' blog.pk %}">{{ blog.name }}</a>({{ blog.post_date }})</li>
            {% endfor %}
        </ul>
    </div>



{% endblock %}